In [24]:
import logging
import random
import pprint
from pprint import pformat

import pandas as pd
import dynamic_yaml
import yaml

with open('../config/data_config.yaml') as f:
    data = dynamic_yaml.load(f)
    data_cfg = yaml.full_load(dynamic_yaml.dump(data))

logging.basicConfig(level=logging.INFO)

time: 17.5 ms (started: 2023-10-19 22:45:08 +08:00)

# Load Data

In [28]:
data_implement = "SP500_20112015"  # watch options by printing /config/data_config.yaml/["DATASETS"].keys()
retrive_items_setting = "-train_all"  # -train_train|-train_all
# data split period setting, only suit for only settings of Korean paper
dataset_df = pd.read_csv(data_cfg["DATASETS"][data_implement]['FILE_PATH'])
dataset_df = dataset_df.set_index('Date')
all_set = data_cfg["DATASETS"][data_implement]['ALL_SET']  # all items
train_set = data_cfg["DATASETS"][data_implement]['TRAIN_SET']
items_implement = train_set if retrive_items_setting == "-train_train" else all_set
dataset_df = dataset_df.loc[::, items_implement]
output_file_name = data_cfg["DATASETS"][data_implement]['OUTPUT_FILE_NAME_BASIS'] + retrive_items_setting
# etl_res_dir= Path(data_cfg["DIRS"]["PIPELINE_DATA_DIR"])/f"{output_file_name}/{corr_type}/corr_property/corr_s{s_l}_w{w_l}/{corr_ser_clac_method}"
logging.info(f"len(items_implement): {len(items_implement)} and len(all_set): {len(all_set if all_set else [])} and len(train_set): {len(train_set if train_set else [])}")
display(dataset_df)

INFO:root:len(items_implement): 389 and len(all_set): 389 and len(train_set): 30

,A,AAL,AAP,AAPL,ABC,ABT,ACN,ADBE,ADI,ADM,...,WU,WY,WYNN,XEL,XOM,XRAY,XRX,YUM,ZBH,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2011-01-03,27.013279,10.040195,59.302174,9.990639,28.306013,17.371454,38.189999,31.290001,28.032988,21.834507,...,11.544833,12.257368,77.252525,15.394320,45.378101,31.863148,19.750267,27.644398,48.349262,20.291012
2011-01-04,26.761715,10.011913,56.350639,10.042780,27.992603,17.534920,37.938488,31.510000,27.715347,21.820139,...,11.464748,12.127103,79.662476,15.459661,45.591145,31.509121,19.227415,27.222042,47.707191,19.960491
2011-01-05,26.703667,10.464432,56.423058,10.124928,28.421482,17.534920,37.946354,32.220001,27.774439,21.920694,...,11.668042,12.505494,80.690239,15.368179,45.469398,31.808689,19.328611,27.351561,47.742367,20.073349
2011-01-06,26.755274,10.596415,54.567047,10.116744,28.751385,17.498598,38.087814,32.270000,27.929571,22.761040,...,11.932947,12.418650,81.278557,15.355114,45.761574,31.627140,19.328611,27.543028,46.264721,20.016920
2011-01-07,26.845572,10.747252,56.024700,10.189198,28.809116,17.571247,38.150707,32.040001,27.767052,22.947775,...,11.822061,12.759819,84.156303,15.492332,46.011147,31.500046,19.058752,27.886545,46.255913,19.807323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-24,39.452278,41.866829,136.800491,24.619831,91.771172,38.824352,91.714935,94.300003,48.410316,29.460293,...,13.051359,22.266191,62.341255,28.384418,55.383060,56.880299,20.378002,46.107658,93.806572,22.891336
2015-12-28,39.115234,41.312553,138.103104,24.344076,91.983055,38.764095,91.582939,94.199997,48.112030,29.339720,...,12.867933,22.157469,61.593201,28.702087,54.971149,57.160454,19.947214,46.007969,93.204941,22.775974
2015-12-29,39.658245,41.570580,139.616714,24.781643,92.495125,39.444168,92.674080,95.330002,48.844990,29.813988,...,13.001977,22.186457,63.197491,28.765617,55.264351,57.814140,20.173458,46.257202,93.880936,22.916059
2015-12-30,39.480370,40.901630,138.882843,24.458025,92.715805,38.970699,93.149223,95.279999,48.197247,29.645184,...,12.867933,21.990767,61.863594,28.908583,54.531315,57.347221,20.211168,45.989288,93.606895,22.635889
2015-12-31,39.250366,40.471581,138.066406,23.988552,91.559296,38.660782,91.952507,93.940002,47.148926,29.484413,...,12.635125,21.729828,62.359287,28.519421,54.419613,56.824280,20.041481,45.515739,93.716515,22.495808

time: 46.9 ms (started: 2023-10-19 22:45:55 +08:00)

# Random pick trainset

In [26]:
def gen_random_trainset(all_items: list, train_set_len: int = 100, verbose: int = 0):
    """
    Randon pick items for trainset # Not always necessary to operate
    """
    random.seed(10)
    train_set = sorted(random.sample(all_items, train_set_len))

    if verbose==1:
        logging.info(f"len(train_set):{len(train_set)}")
        pp = pprint.PrettyPrinter(width=500, compact=True)
        pp.pprint(train_set)

    return train_set

print(gen_random_trainset(items_implement, 30))

['ADBE', 'AFL', 'AIG', 'ALB', 'APD', 'CHD', 'CMS', 'DISH', 'ES', 'EXPD', 'FFIV', 'FL', 'HBI', 'HUM', 'IDXX', 'IT', 'LEN', 'LMT', 'MCHP', 'MDLZ', 'MRK', 'MSCI', 'MSFT', 'NRG', 'PNC', 'PPL', 'RJF', 'SWKS', 'TSCO', 'WYNN']
time: 423 µs (started: 2023-10-19 22:45:16 +08:00)

# ...